
.txt {
    color: dimgray;
    font-weight: bold;
}

.DivIdToPrint {
    background-color: white;
    /*padding: 20px 50px;*/
    /*margin: 50px 100px;*/
    padding: 2% 5%;
    margin: 5% 8%;
}

a {
    color: olivedrab;
    background-color: transparent;
    text-decoration: none;
}

#mypicture {
    height: 180px;
    width: 180px;
    /*float: right;*/
    border-radius: 100px;
}

.right-center{
    text-align: right;
}

.container {
    /*padding-left: 15%;*/
    margin-top: 20px;
}

.sub {
    margin-left: 3%;
}

table {
    width: 100%;
}

td {
    /* margin-right: 10%; */
}

.sub {
    white-space: normal;
    /* word-break: break-all; */
    word-break: normal;
}

.sup {
    white-space: normal;
    word-break: break-all;
}


p {
    margin: 5px;
}

h4 {
    margin-bottom: 5px;
}

.top-intro {
    margin-top: 50px;
}

body {
    margin-left: 20%;
    margin-right: 20%;
    background-color: whitesmoke;
}

.footer {
    padding: 20px;
}

@media screen and (max-width: 900px) {
  body {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .DivIdToPrint {
        background-color: white;
        /*padding: 20px 50px;*/
        /*margin: 50px 100px;*/
        padding: 1px 2%;
        margin: 2% 3%;
    }

    #mypicture {
        margin-left: auto;
        margin-right: auto;
    }

    .right-center{
        text-align: center;
    }

}

@media screen and (max-width: 850px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    .DivIdToPrint {
        background-color: white;
        /*padding: 20px 50px;*/
        /*margin: 50px 100px;*/
        padding: 1px 2%;
        margin: 2% 3%;
    }

    #mypicture {
        margin-left: auto;
        margin-right: auto;
    }

    .right-center{
        text-align: center;
    }

}
